In [1]:
import pyspark
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession

In [2]:
sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

In [4]:
import os

In [5]:
input_path = os.path.join("F:\GIS Related - city indexing\datasets")

In [7]:
pois = (spark
  .read
  .option("header",True)
  .format("csv")
  .load(input_path+"\colombo_pois.csv"))

In [9]:
pois = pois.drop('Unnamed: 0')

In [13]:
pois.na.fill(0)

DataFrame[latitude: string, longitude: string, id: string, railway: string, train: string, designation: string, tourism: string, amenity: string, atm: string, parking: string, building: string, historic: string, religion: string, shop: string, man_made: string, office: string]

In [25]:
pois['railway'] = pois.withColumn('railway',)

Column<b'railway'>

In [18]:
pois.fillna(0).show(1)

+----------+---------+--------+-------+-----+-----------+-------+-------+----+-------+--------+--------+--------+----+--------+------+
|  latitude|longitude|      id|railway|train|designation|tourism|amenity| atm|parking|building|historic|religion|shop|man_made|office|
+----------+---------+--------+-------+-----+-----------+-------+-------+----+-------+--------+--------+--------+----+--------+------+
|51.2951782|6.8636353|27441692|   stop|  yes|       null|   null|   null|null|   null|    null|    null|    null|null|    null|  null|
+----------+---------+--------+-------+-----+-----------+-------+-------+----+-------+--------+--------+--------+----+--------+------+
only showing top 1 row

In [26]:
from pyspark.sql import functions as F

In [30]:
pois=pois.withColumn('railway', 
    F.when(F.col('railway')!='null', 10)
    .otherwise(0))

In [31]:
pois=pois.withColumn('railway', 
    F.when(F.col('railway')!='null', 10)
    .otherwise(0))

+-----------------+------------------+---------+-------+-----+-----------+-----------+---------+----+-------+--------+--------+--------+----+--------+------+
|         latitude|         longitude|       id|railway|train|designation|    tourism|  amenity| atm|parking|building|historic|religion|shop|man_made|office|
+-----------------+------------------+---------+-------+-----+-----------+-----------+---------+----+-------+--------+--------+--------+----+--------+------+
|       51.2951782|         6.8636353| 27441692|     10|  yes|       null|       null|     null|null|   null|    null|    null|    null|null|    null|  null|
|       50.6551626|6.8642612000000005| 32562714|     10| null|       null|       null|     null|null|   null|    null|    null|    null|null|    null|  null|
|       52.7424311| 6.864001400000001| 47337148|     10| null|       null|       null|     null|null|   null|    null|    null|    null|null|    null|  null|
|       51.8525545|         6.8640445|218544478|      0| null|       null|       null|     fuel|null|   null|    null|    null|    null|null|    null|  null|
|        50.977712|         6.8643287|243364943|      0| null|       null|       null|recycling|null|   null|    null|    null|    null|null|    null|  null|
|       50.9752237|         6.8628738|244307684|      0| null|       null|       null| post_box|null|   null|    null|    null|    null|null|    null|  null|
|       52.2247961|6.8643703999999985|249577905|      0| null|       null|       null| post_box|null|   null|    null|    null|    null|null|    null|  null|
|       51.0652691| 6.863450200000001|249755652|      0| null|       null|information|     null|null|   null|    null|    null|    null|null|    null|  null|
|       51.0637168|         6.8638167|249759190|      0| null|       null|       null|      pub|null|   null|    null|    null|    null|null|    null|  null|
|       45.9184209|         6.8633643|250822025|      0| null|       null|       null|recycling|null|   null|    null|    null|    null|null|    null|  null|
|       45.9236556|         6.8632156|250827062|      0| null|       null|       null| post_box|null|   null|    null|    null|    null|null|    null|  null|
|       51.4341941| 6.863556599999999|251434172|     10| null|       null|       null|     null|null|   null|    null|    null|    null|null|    null|  null|
|       51.4345467|         6.8632556|251434173|     10| null|       null|       null|     null|null|   null|    null|    null|    null|null|    null|  null|
|        45.914621| 6.863084700000001|251792152|      0| null|       null|       null|recycling|null|   null|    null|    null|    null|null|    null|  null|
|       51.4212574|6.8632610000000005|251803106|      0| null|       null|       null|   school|null|   null|    null|    null|    null|null|    null|  null|
|       51.4204314|6.8631562000000015|251803120|      0| null|       null|       null|   school|null|   null|    null|    null|    null|null|    null|  null|
|51.44563170000001|         6.8645674|252433439|     10| null|       null|       null|     null|null|   null|    null|    null|    null|null|    null|  null|
|       51.4822286|         6.8640423|253042226|     10| null|       null|       null|     null|null|   null|    null|    null|    null|null|    null|  null|
|       50.8568885|         6.8632018|256030238|     10| null|       null|       null|     null|null|   null|    null|    null|    null|null|    null|  null|
|       50.8567643|6.8639157000000015|256030239|     10| null|       null|       null|     null|null|   null|    null|    null|    null|null|    null|  null|
+-----------------+------------------+---------+-------+-----+-----------+-----------+---------+----+-------+--------+--------+--------+----+--------+------+
only showing top 20 rows

In [32]:
cols =  ['train','designation','tourism','amenity','atm','parking','building','historic','religion','shop','man_made','office']

In [33]:
weights = [100,70,70,100,50,70,100,70,10,100,10,100]

In [34]:
dct = {"column":cols,"weight":weights}

In [35]:
import pandas as pd

In [36]:
pdf = pd.DataFrame(dct)

In [37]:
pdf.head()

        column  weight
0        train     100
1  designation      70
2      tourism      70
3      amenity     100
4          atm      50

In [43]:
d={}

In [44]:
for key,value in zip(cols,weights):
    d[key] = value

In [45]:
d

{'train': 100,
 'designation': 70,
 'tourism': 70,
 'amenity': 100,
 'atm': 50,
 'parking': 70,
 'building': 100,
 'historic': 70,
 'religion': 10,
 'shop': 100,
 'man_made': 10,
 'office': 100}

In [54]:
def get_weights(weight_dct,df):
    for col in dct['column']:
        df = (df.withColumn(col,F.when(F.col(col)!='null', d[col]).otherwise(0)))

In [55]:
get_weights(d,pois)

In [71]:
pois.show()

+-----------------+------------------+---------+-------+-----+-----------+-------+-------+---+-------+--------+--------+--------+----+--------+------+
|         latitude|         longitude|       id|railway|train|designation|tourism|amenity|atm|parking|building|historic|religion|shop|man_made|office|
+-----------------+------------------+---------+-------+-----+-----------+-------+-------+---+-------+--------+--------+--------+----+--------+------+
|       51.2951782|         6.8636353| 27441692|     10|  100|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|
|       50.6551626|6.8642612000000005| 32562714|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|
|       52.7424311| 6.864001400000001| 47337148|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|
|       51.8525545|         6.8640445|218544478|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|
|        50.977712|         6.8643287|243364943|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|
|       50.9752237|         6.8628738|244307684|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|
|       52.2247961|6.8643703999999985|249577905|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|
|       51.0652691| 6.863450200000001|249755652|      0|    0|          0|     70|      0|  0|      0|       0|       0|       0|   0|       0|     0|
|       51.0637168|         6.8638167|249759190|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|
|       45.9184209|         6.8633643|250822025|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|
|       45.9236556|         6.8632156|250827062|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|
|       51.4341941| 6.863556599999999|251434172|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|
|       51.4345467|         6.8632556|251434173|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|
|        45.914621| 6.863084700000001|251792152|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|
|       51.4212574|6.8632610000000005|251803106|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|
|       51.4204314|6.8631562000000015|251803120|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|
|51.44563170000001|         6.8645674|252433439|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|
|       51.4822286|         6.8640423|253042226|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|
|       50.8568885|         6.8632018|256030238|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|
|       50.8567643|6.8639157000000015|256030239|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|
+-----------------+------------------+---------+-------+-----+-----------+-------+-------+---+-------+--------+--------+--------+----+--------+------+
only showing top 20 rows

In [57]:
d

{'train': 100,
 'designation': 70,
 'tourism': 70,
 'amenity': 100,
 'atm': 50,
 'parking': 70,
 'building': 100,
 'historic': 70,
 'religion': 10,
 'shop': 100,
 'man_made': 10,
 'office': 100}

In [70]:
pois=pois.withColumn('office', 
    F.when(F.col('office')!='null', d['office'])
    .otherwise(0))

In [84]:
cols2 = cols+["railway","id"]
cols2

['train',
 'designation',
 'tourism',
 'amenity',
 'atm',
 'parking',
 'building',
 'historic',
 'religion',
 'shop',
 'man_made',
 'office',
 'railway',
 'railway',
 'railway',
 'railway',
 'id']

In [86]:
import h3

In [94]:
H3_resolution = 8
def geo_to_h3(row):
        return h3.geo_to_h3(lat=row.latitude,lng=row.longitude,resolution = H3_resolution)

In [89]:
from pyspark.sql.functions import udf, struct
from pyspark.sql.types import IntegerType,DoubleType,StringType

In [91]:
calc_h3_udf = udf(geo_to_h3, StringType())

In [95]:
new_df = pois.withColumn("h3", calc_h3_udf(struct([pois[x] for x in ['longitude','latitude']]))) #apply - the struct is needed to send the entire row

In [97]:
[pois[x] for x in ['longitude','latitude']]

[Column<b'longitude'>, Column<b'latitude'>]

In [96]:
new_df.show()

+-----------------+------------------+---------+-------+-----+-----------+-------+-------+---+-------+--------+--------+--------+----+--------+------+----+
|         latitude|         longitude|       id|railway|train|designation|tourism|amenity|atm|parking|building|historic|religion|shop|man_made|office|  h3|
+-----------------+------------------+---------+-------+-----+-----------+-------+-------+---+-------+--------+--------+--------+----+--------+------+----+
|       51.2951782|         6.8636353| 27441692|     10|  100|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       50.6551626|6.8642612000000005| 32562714|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       52.7424311| 6.864001400000001| 47337148|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       51.8525545|         6.8640445|218544478|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|null|
|        50.977712|         6.8643287|243364943|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       50.9752237|         6.8628738|244307684|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       52.2247961|6.8643703999999985|249577905|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       51.0652691| 6.863450200000001|249755652|      0|    0|          0|     70|      0|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       51.0637168|         6.8638167|249759190|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       45.9184209|         6.8633643|250822025|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       45.9236556|         6.8632156|250827062|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       51.4341941| 6.863556599999999|251434172|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       51.4345467|         6.8632556|251434173|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|null|
|        45.914621| 6.863084700000001|251792152|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       51.4212574|6.8632610000000005|251803106|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       51.4204314|6.8631562000000015|251803120|      0|    0|          0|      0|    100|  0|      0|       0|       0|       0|   0|       0|     0|null|
|51.44563170000001|         6.8645674|252433439|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       51.4822286|         6.8640423|253042226|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       50.8568885|         6.8632018|256030238|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|null|
|       50.8567643|6.8639157000000015|256030239|     10|    0|          0|      0|      0|  0|      0|       0|       0|       0|   0|       0|     0|null|
+-----------------+------------------+---------+-------+-----+-----------+-------+-------+---+-------+--------+--------+--------+----+--------+------+----+
only showing top 20 rows

In [98]:
import pandas as pd

In [100]:
os.listdir(input_path)

['2020_Population(1).csv',
 '5 Star Mapping 002.xlsx',
 'colombo coordinates.csv',
 'colombo_pois.csv',
 'colombo_poi_new.csv',
 'decode_geohash_Population.csv',
 'decorative-1296300_1920.png',
 'gadm36_LKA_2.kmz',
 'gadm36_LKA_gpkg.zip',
 'gadm36_LKA_shp',
 'gadm36_LKA_shp.zip',
 'LKA_msk_alt.zip',
 'LKA_msk_cov.zip',
 'ne_110m_admin_0_countries.zip',
 'OnVUE-3.53.42.exe',
 'test',
 'test.cpg',
 'test.dbf',
 'test.prj',
 'test.qlr',
 'test.shp',
 'test.shx',
 'test2.csv']

In [102]:
df = pd.read_csv(input_path+'/colombo_pois.csv',low_memory=False)

In [103]:
df.head()

,Unnamed: 0,latitude,longitude,id,railway,train,designation,tourism,amenity,atm,parking,building,historic,religion,shop,man_made,office
0,263,51.295178,6.863635,27441692,stop,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,305,50.655163,6.864261,32562714,level_crossing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,807,52.742431,6.864001,47337148,level_crossing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1612,51.852554,6.864045,218544478,NaN,NaN,NaN,NaN,fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1743,50.977712,6.864329,243364943,NaN,NaN,NaN,NaN,recycling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
# del df['Unnamed: 0']

In [105]:
# del df['id']

In [108]:
df['id'] = pd.Series(data=[x for x in range(len(df))])

In [109]:
df.head()

,latitude,longitude,railway,train,designation,tourism,amenity,atm,parking,building,historic,religion,shop,man_made,office,id
0,51.295178,6.863635,stop,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,50.655163,6.864261,level_crossing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,52.742431,6.864001,level_crossing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,51.852554,6.864045,NaN,NaN,NaN,NaN,fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,50.977712,6.864329,NaN,NaN,NaN,NaN,recycling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [110]:
df1 = df[['id','latitude','longitude']]

In [111]:
df1.head()

   id   latitude  longitude
0   0  51.295178   6.863635
1   1  50.655163   6.864261
2   2  52.742431   6.864001
3   3  51.852554   6.864045
4   4  50.977712   6.864329

In [112]:
df2 = df[cols2]

In [113]:
df2.head()

,train,designation,tourism,amenity,atm,parking,building,historic,religion,shop,man_made,office,railway,railway,railway,railway,id
0,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,stop,stop,stop,stop,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,level_crossing,level_crossing,level_crossing,level_crossing,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,level_crossing,level_crossing,level_crossing,level_crossing,2
3,NaN,NaN,NaN,fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,NaN,NaN,NaN,recycling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [114]:
df1['h3_cell'] = df1.apply(geo_to_h3,axis=1)

<ipython-input-114-51a8670c2c38>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['h3_cell'] = df1.apply(geo_to_h3,axis=1)

In [116]:
len(df1)

5506873

In [164]:
df_final = df1.merge(df2, how='inner', on='id')

In [165]:
len(df_final)

5506873

In [166]:
df_final.head()

,id,latitude,longitude,h3_cell,train,designation,tourism,amenity,atm,parking,building,historic,religion,shop,man_made,office,railway,railway,railway,railway
0,0,51.295178,6.863635,881fa52a53fffff,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,stop,stop,stop,stop
1,1,50.655163,6.864261,881fa1ce17fffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,level_crossing,level_crossing,level_crossing,level_crossing
2,2,52.742431,6.864001,881f168253fffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,level_crossing,level_crossing,level_crossing,level_crossing
3,3,51.852554,6.864045,881fa5b441fffff,NaN,NaN,NaN,fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,50.977712,6.864329,881fa19865fffff,NaN,NaN,NaN,recycling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
columns = [cols2]+['h3_cell']

In [170]:
# del df_final['id']

In [175]:
df_final.head()

,h3_cell,train,designation,tourism,amenity,atm,parking,building,historic,religion,shop,man_made,office,railway
0,881fa52a53fffff,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,stop
1,881fa1ce17fffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,level_crossing
2,881f168253fffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,level_crossing
3,881fa5b441fffff,NaN,NaN,NaN,fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,881fa19865fffff,NaN,NaN,NaN,recycling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [176]:
df_last = df_final.copy()

In [179]:
d

{'train': 100,
 'designation': 70,
 'tourism': 70,
 'amenity': 100,
 'atm': 50,
 'parking': 70,
 'building': 100,
 'historic': 70,
 'religion': 10,
 'shop': 100,
 'man_made': 10,
 'office': 100,
 'railway': 10}

In [180]:
df_last.fillna(0,axis=1,inplace=True)

In [146]:
d

{'train': 100,
 'designation': 70,
 'tourism': 70,
 'amenity': 100,
 'atm': 50,
 'parking': 70,
 'building': 100,
 'historic': 70,
 'religion': 10,
 'shop': 100,
 'man_made': 10,
 'office': 100}

In [174]:
# df_final = df_final.iloc[:, :-1]

In [200]:
df_last.head()

,h3_cell,train,designation,tourism,amenity,atm,parking,building,historic,religion,shop,man_made,office,railway
0,881fa52a53fffff,100,0,0,0,0,0,0,0,0,0,0,0,10
1,881fa1ce17fffff,0,0,0,0,0,0,0,0,0,0,0,0,10
2,881f168253fffff,0,0,0,0,0,0,0,0,0,0,0,0,10
3,881fa5b441fffff,0,0,0,100,0,0,0,0,0,0,0,0,0
4,881fa19865fffff,0,0,0,100,0,0,0,0,0,0,0,0,0

In [182]:
d

{'train': 100,
 'designation': 70,
 'tourism': 70,
 'amenity': 100,
 'atm': 50,
 'parking': 70,
 'building': 100,
 'historic': 70,
 'religion': 10,
 'shop': 100,
 'man_made': 10,
 'office': 100,
 'railway': 10}

In [199]:
# df_last['railway'] = df_last['railway'].apply(lambda x: d['railway'] if x !=0 else x)

In [208]:
cols2 = ['train',
 'designation',
 'tourism',
 'amenity',
 'atm',
 'parking',
 'building',
 'historic',
 'religion',
 'shop',
 'man_made',
 'office',
 'railway']

In [209]:
df_last['score'] = df_last[cols2].sum(axis=1)

In [210]:
df_last

,h3_cell,train,designation,tourism,amenity,atm,parking,building,historic,religion,shop,man_made,office,railway,score
0,881fa52a53fffff,100,0,0,0,0,0,0,0,0,0,0,0,10,110
1,881fa1ce17fffff,0,0,0,0,0,0,0,0,0,0,0,0,10,10
2,881f168253fffff,0,0,0,0,0,0,0,0,0,0,0,0,10,10
3,881fa5b441fffff,0,0,0,100,0,0,0,0,0,0,0,0,0,100
4,881fa19865fffff,0,0,0,100,0,0,0,0,0,0,0,0,0,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5506868,88611cb02dfffff,0,0,0,0,0,0,0,0,0,100,0,0,0,100
5506869,88611cb02dfffff,0,0,0,0,0,0,0,0,0,100,0,0,0,100
5506870,88611cb02dfffff,0,0,0,100,0,0,0,0,0,0,0,0,0,100
5506871,88611cb029fffff,0,0,0,100,0,0,0,0,0,0,0,0,0,100
5506872,88611cb117fffff,0,0,0,0,0,0,0,0,0,100,0,0,0,100

In [211]:
h3_cells = df_last.groupby(['h3_cell']).score.agg(list).to_frame('score').reset_index()

In [212]:
h3_cells

              h3_cell                                              score
0     8808329205fffff  [100, 100, 100, 100, 100, 100, 100, 100, 100, ...
1     8808329209fffff  [70, 100, 100, 100, 70, 100, 100, 100, 70, 100...
2     880832920bfffff      [100, 100, 100, 100, 100, 100, 100, 100, 100]
3     880832920dfffff  [70, 70, 100, 100, 100, 70, 70, 100, 100, 100,...
4     880832922dfffff                                              [100]
...               ...                                                ...
3033  88611cbae9fffff  [10, 100, 100, 100, 100, 10, 100, 100, 100, 10...
3034  8882d87143fffff  [100, 100, 100, 100, 100, 100, 100, 100, 100, ...
3035  8882d87169fffff  [100, 100, 100, 100, 100, 100, 100, 100, 100, ...
3036  8882dab69bfffff  [100, 100, 100, 100, 100, 100, 100, 100, 100, ...
3037  8882dab6d9fffff                                              [100]

[3038 rows x 2 columns]

In [213]:
h3_cells['total_score'] = h3_cells.score.apply(sum)

In [218]:
h3_indexes = h3_cells.sort_values('total_score',ascending=False)[['h3_cell','total_score']]

In [219]:
h3_indexes

              h3_cell  total_score
2892  88611cb02dfffff     42411930
2890  88611cb025fffff     22078980
2901  88611cb067fffff     19269380
2903  88611cb06bfffff     17802470
2918  88611cb11dfffff     16752330
...               ...          ...
885   881f82acb5fffff           10
2857  8858216409fffff           10
1245  881f9c98bbfffff           10
853   881f82a409fffff           10
2236  881fa52123fffff           10

[3038 rows x 2 columns]

In [221]:
h3_indexes.to_csv(input_path+"/h3_indexes_sorted.csv")